<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/grp-logo.png', width: 89, height: 45, alt: 'GRP Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/grp-logo.png', width: 30, height: 30, alt: 'GRP Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">

  <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown d-md-down-none" placement="bottom right">
<!--        <a class="nav-link"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">1</span></a>-->
        <a class="nav-link"  data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false"><i class="icon-bell"></i><span class="badge badge-pill badge-danger"></span></a>
        <div class="dropdown-content dropdown-menu dropdown-menu-right dropdown-menu-lg" aria-labelledby="simple-dropdown">
          <div class="dropdown-header text-center">
          <strong>{{'You have no new notification' | translate}}</strong>
          </div>
<!--          <a class="dropdown-item" href="#">-->
<!--          <i class="icon-user-follow text-success"></i> New user registered</a>-->
        </div>
      </li>
      <li class="nav-item d-md-down-none">
        <a href="#" class="nav-link" (click)="changeLang()">
          <span class="nav__link-icon" style="font-size: 15px;padding: 10px;">
            {{ showLanguage }}
          </span>
        </a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
            <img src="assets/img/avatars/default_avater.jpg" class="img-avatar" alt="user image"  />
            <!-- <span  style="color: #5867dd; font-size: 15px; padding: 5px">
              মাসউদ করিম
            </span> -->
          </a>
          <div class="dropdown-content dropdown-menu dropdown-menu-right" aria-labelledby="simple-dropdown">
            <!-- The user image in the menu -->
              <li class="user-header">
                <img  src="assets/img/avatars/default_avater.jpg" class="img-circle" alt="User Image">
              </li>
              <!-- Menu Body -->
              <!-- Menu Footer-->
              <li class="card-footer clearfix">
                  <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-pill btn-block btn-secondary"
                            (click)="goToProfile()">
                            <i class="fa fa-user"></i>&nbsp;&nbsp;{{ 'Profile' | translate }}</button>
                    </div>
                    <!-- <div class="col-sm-4"></div> -->
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-pill btn-block btn-danger" (click)="logout()">
                            <i class="fa fa-sign-out"></i>&nbsp;&nbsp;{{ 'Logout' | translate }}</button>
                    </div>
                </div>
              </li>
            </div>
      </li>
      <li class="nav-item dropdown d-md-down-none" placement="bottom right">
        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle  id="navbarDropdown">
          <span class="nav__link-icon" style="font-size: 15px;">{{ currentRole }}</span>
        </a>
        <div class="dropdown-content dropdown-menu dropdown-menu-right dropdown-menu-sm" aria-labelledby="navbarDropdown">
            <div class="dropdown-header text-center">
                <img src="../../../assets/img/avatars/change-user.png">
            </div>
            <a class="dropdown-item" href="#" (click)="changeRole(role)" *ngFor="let role of roleList">
               {{ translate.currentLang === 'en' ? role.nameEn : role.nameBn }}</a>
          </div>
      </li>
    </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->
    <app-cui-breadcrumb>
      <!-- Breadcrumb Menu-->
      <li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
          <a class="btn" (click)="backToDashboard()"><i class="icon-graph"></i> &nbsp; {{ 'Dashboard' | translate }}</a>
        </div>
      </li>
    </app-cui-breadcrumb>
    <div class="container-fluid">
      <router-outlet><div *ngIf="showLoader" class="loading"></div></router-outlet>
    </div><!-- /.container-fluid -->
  </main>

<!--  No schedules yet-->
<!--  <app-aside [fixed]="true" [display]="false">-->
<!--      <div class="list-group list-group-accent">-->
<!--        <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Today</div>-->
<!--        <div class="list-group-item list-group-item-accent-warning list-group-item-divider">-->
<!--&lt;!&ndash;          <div class="avatar float-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="img-avatar" src="assets/img/avatars/default_avater.jpg" alt="User Image">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--          <div>{{'No schedule today yet' | translate}}-->
<!--          </div>-->
<!--&lt;!&ndash;          <small class="text-muted mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-calendar"></i>  1 - 3pm</small>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-location-pin"></i> 2nd floor, BCC Bhaban</small>&ndash;&gt;-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="list-group-item list-group-item-accent-warning list-group-item-divider">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="avatar float-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="img-avatar" src="assets/img/avatars/default_avater.jpg" alt="User Image">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>Meeting with&ndash;&gt;-->
<!--&lt;!&ndash;            <strong>BCC</strong>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-calendar"></i>  1 - 3pm</small>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-location-pin"></i> 2nd floor, BCC Bhaban</small>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="list-group-item list-group-item-accent-info">&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="avatar float-right">&ndash;&gt;-->
<!--&lt;!&ndash;            <img class="img-avatar" src="assets/img/avatars/default_avater.jpg" alt="admin@bootstrapmaster.com">&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div>Skype with&ndash;&gt;-->
<!--&lt;!&ndash;            <strong>Sadi</strong>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-calendar"></i>  4 - 5pm</small>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-social-skype"></i> Sadi, BCC</small>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="list-group-item list-group-item-accent-secondary bg-light text-center font-weight-bold text-muted text-uppercase small">Tomorrow</div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="list-group-item list-group-item-accent-success list-group-item-divider">&ndash;&gt;-->
<!--&lt;!&ndash;          <div>&ndash;&gt;-->
<!--&lt;!&ndash;            <strong>CoKreates</strong> Meetup</div>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted mr-3">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-calendar"></i>  10AM - 13pm</small>&ndash;&gt;-->
<!--&lt;!&ndash;          <small class="text-muted">&ndash;&gt;-->
<!--&lt;!&ndash;            <i class="icon-location-pin"></i> #3rd Floor, BTMC Bhaban</small>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->
<!--</app-aside>-->
<!--  No schedules yet-->

</div>
<app-footer>
  <span><a href="#">{{ 'APP_NAME' | translate }}</a> &copy; {{ 'BCC' | translate }} </span>
  <span class="ml-auto">{{'Powered by'| translate}} : <a href="http://www.cokreates.com/" target="_blank">{{'CoKreates' | translate}}</a></span>
</app-footer>
