<div class="row" *ngIf="_formGroup && _formControl">
  <div class="col-sm-12 col-lg-12">
    <div class="card">
      <div class="card-header" *ngIf="formName">
        <mat-label class="font-lg">{{formName | translate}}</mat-label>
        <div class="pull-right">
          <ng-content select="[header-extra]"></ng-content>
        </div>
      </div>
      <div class="card-body">
        <form class="form-horizontal" id="formGroup" [formGroup]="_formGroup">
          <div class="form-group row" *ngFor="let control of _formControl" [ngSwitch]="control.type">
            <div class="col-sm-12 col-lg-4">
              <div *ngSwitchCase="'boolean'">
                <div class="row">
                  <div class="col"></div>
                  <div class="col"></div>
                  <div class="col" style="padding: 3px 0px 0 0;">{{ control.options.falseValue | translate }}</div>
                  <div class="col">
                    <mat-slide-toggle
                      class="text-muted"
                      [color]="control.color || 'primary'"
                      [formControlName]="control.field"
                      [disabled]="control.readonly"
                      [required]="control.required">
                    </mat-slide-toggle>
                  </div>
                  <div class="col" style="padding: 4px 0px 0px 0px;">{{ control.options.trueValue | translate }}</div>
                  <div class="col"></div>
                  <div class="col"></div>
                </div>
                <div class="row">
                  <div class="col text-muted" style="text-align: center">{{ control.name | translate }}</div>
                </div>
              </div>

              <mat-form-field class="input-field" *ngSwitchCase="'date'">

                <input
                  matInput
                  readonly
                  [formControlName]="control.field"
                  [matDatepicker]="picker"
                  (click)="!control.readonly && picker.open()"
                  [placeholder]="control.name | translate"
                  [required]="control.required">

                <mat-datepicker-toggle [disabled]="control.readonly" matSuffix [for]="picker"></mat-datepicker-toggle>

                <mat-datepicker #picker></mat-datepicker>

                <mat-error
                  *ngIf="control.customError
                    && isErrorState(_formGroup.controls[control.field])
                    && _formGroup.controls[control.field].hasError(control.customError)
                    && !_formGroup.controls[control.field].hasError('required')">
                  {{control.customErrorText | translate}}
                </mat-error>

                <mat-error
                  *ngIf="isErrorState(_formGroup.controls[control.field])
                    && _formGroup.controls[control.field].hasError('required')">
                  {{control.name | translate}} {{'is' | translate}} <strong>{{'required' | translate}}</strong>
                </mat-error>

              </mat-form-field>

                <mat-checkbox *ngSwitchCase="'checkBox'" [formControlName]="control.field">{{control.name}}</mat-checkbox>

              <mat-radio-group class="tp-radio-group" *ngSwitchCase="'radio'"
                               [formControlName]="control.field">
                <mat-radio-button class="tp-radio-button"
                                  *ngFor="let userType of _data[control.field]" [value]="userType.value">
                  {{userType.name}}
                </mat-radio-button>
              </mat-radio-group>

              <mat-form-field class="input-field" *ngSwitchDefault>
                <!-- TODO: Handling mat readonly/disabling properly -->
                <ng-container *ngIf="control.type === 'select' || control.type === 'dependant-select'; else writer">
                  <!--                  <mat-form-field class="input-field">-->
                  <!--                    <mat-icon matPrefix>search</mat-icon>-->
                  <!--                    <input matInput #searchInput type="search" [matAutocomplete]="auto"-->
                  <!--                           (keyup.enter)="loadSearchResult()"-->
                  <!--                           (keyup)="populateSearchWord($event.target.value)" placeholder="{{'Search' | translate }}" autocomplete="off">-->
                  <!--                  </mat-form-field>-->

                  <!--                  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="populateSearchWord($event.option.value);loadSearchResult()">-->
                  <!--                    <mat-option *ngFor="let option of filteredOptions" [value]="option">{{option}}</mat-option>-->
                  <!--                  </mat-autocomplete>-->
                  <mat-select
                    *ngIf="_data[control.field]"
                    [placeholder]="control.name | translate"
                    [formControlName]="control.field"
                    [required]="control.required"
                    [disabled]="control.readonly">
                    <mat-option *ngIf="!control.required"></mat-option>
                    <mat-option *ngFor="let elem of _data[control.field]" [value]="elem.value">
                      {{elem.name | translate}}
                    </mat-option>
                  </mat-select>
                  <input
                    type="text"
                    [placeholder]="control.name | translate"
                    readonly
                    matInput
                    [required]="control.required"
                    *ngIf="!_data[control.field]">
                </ng-container>

                <ng-template #writer>
                  <input
                    matInput
                    [readonly]="control.readonly"
                    [placeholder]="control.name | translate"
                    [type]="control.type"
                    [formControlName]="control.field"
                    [required]="control.required"/>
                </ng-template>

                <mat-error
                  *ngIf="control.customError
                    && isErrorState(_formGroup.controls[control.field])
                    && _formGroup.controls[control.field].hasError(control.customError)
                    && !_formGroup.controls[control.field].hasError('required')">
                  {{control.customErrorText | translate}}
                </mat-error>

                <mat-error
                  *ngIf="isErrorState(_formGroup.controls[control.field])
                    && _formGroup.controls[control.field].hasError('required')">
                  {{control.name | translate}} {{'is' | translate}} <strong>{{'required' | translate}}</strong>
                </mat-error>

              </mat-form-field>

            </div>
          </div>
          <mat-error *ngIf="_formGroup.errors?.formValidationError">
            {{_formGroup.errors?.message | translate}}
          </mat-error>
        </form>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6"></div>
          <div class="col-sm-3">
            <button mat-raised-button type="button" class="btn btn-pill btn-block btn-success"
                    (click)=onSubmit() [disabled]="(!_formGroup.valid)">
              <i class="fa {{'fa-save'}} "></i>&nbsp;&nbsp;{{ 'Save' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="app-body">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-md-12">-->
<!--          <div class="card mx-lg-10">-->
<!--            <div class="card-body mx-lg-8">-->
<!--              <form>-->
<!--                <h1>Register</h1>-->
<!--                <p class="text-muted">Create your account</p>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Name (English)" autocomplete="username" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Name (Bangla)" autocomplete="username" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-phone"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Mobile No" autocomplete="email" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text">@</span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Email" autocomplete="email" required>-->
<!--                </div>-->

<!--                <mat-form-field class="form-control">-->
<!--                  <div class="input-group mb-3">-->
<!--                    <div class="input-group-prepend">-->
<!--                      <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                    </div>-->
<!--                    &lt;!&ndash;                  <input type="text" class="form-control" placeholder="Gender" autocomplete="email" required>&ndash;&gt;-->
<!--                    <ng-container>-->
<!--                      <mat-select-->
<!--                        [placeholder]="'Gender' | translate"-->
<!--                        [required]="false"-->
<!--                        [disabled]="false">-->
<!--                        <mat-option></mat-option>-->
<!--                        <mat-option *ngFor="let elem of genderList" [value]="elem.value">-->
<!--                          {{elem.name | translate}}-->
<!--                        </mat-option>-->
<!--                      </mat-select>-->
<!--                      <input-->
<!--                        type="text"-->
<!--                        [placeholder]="'gender' | translate"-->
<!--                        readonly-->
<!--                        matInput-->
<!--                        [required]="false">-->
<!--                    </ng-container>-->
<!--                  </div>-->

<!--                </mat-form-field>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-home"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Address" autocomplete="email" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Is Employee?" autocomplete="email" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-bulb"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="Status" autocomplete="email" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-user"></i></span>-->
<!--                  </div>-->
<!--                  <input type="text" class="form-control" placeholder="User Type" autocomplete="email" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-3">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                  </div>-->
<!--                  <input type="password" class="form-control" placeholder="Password" autocomplete="new-password" required>-->
<!--                </div>-->

<!--                <div class="input-group mb-4">-->
<!--                  <div class="input-group-prepend">-->
<!--                    <span class="input-group-text"><i class="icon-lock"></i></span>-->
<!--                  </div>-->
<!--                  <input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" required>-->
<!--                </div>-->

<!--                <button type="button" class="btn btn-block btn-success">Create Account</button>-->
<!--              </form>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
