<div class="animated fadeIn">
    <!-- <div class="row  pb-0">
        <div class="col col-sm-3 pr-0">
            <div class="card" style="height: 80px">

            </div>
        </div>
        <div class="col">
            <div class="card" style="height: 80px; background: #eee">

            </div>
        </div>
    </div> -->
    <!--<div class="row" >-->
        <!--<div class="col col-sm-4 pr-0">-->
            <!--<div class="card" style="min-height: 35vh">-->
                <!--<div class="card-header">-->
                    <!--{{ 'commissioning-acquisition' | translate }}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!--<ul style="padding-left: 0px">-->
                        <!--<li style="list-style: none"><a [routerLink]="" (click)="goToItemList()"><span style="font-size: 18px" >(4) </span> </a> items waiting for add -->
                            <!--<button type="button" class="btn btn-default btn-sm pull-right" (click)="addNew()">-->
                                <!--<mat-icon>add</mat-icon>-->
                            <!--</button>-->
                        <!--</li>-->
                        <!--&lt;!&ndash; <li  style="list-style: none"> <a href="#"><span style="font-size: 18px">(1) </span></a></li>-->
                        <!--<li  style="list-style: none"><a href="#"><span style="font-size: 18px">(7) </span></a></li> &ndash;&gt;-->
                        <!---->
                    <!--</ul>-->
                <!--</div>-->

            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-4 pr-0">-->
            <!--<div class="card" style="min-height: 35vh">-->
                <!--<div class="card-header">-->
                    <!--{{ 'deployment-operation' | translate }}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!---->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col col-sm-4">-->
            <!--<div class="card" style="min-height: 35vh">-->
                <!--<div class="card-header">-->
                    <!--{{ 'vehicle-management' | translate }}-->
                <!--</div>-->
                <!--<div class="card-body">-->
                    <!---->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>

