<div class="animated fadeIn">
    <div class="row no-gutters">
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="height: 25vh">
                <div class="card-body pb-0">
                    <button type="button" class="btn p-0 float-right">
                        <i class="icon-location-pin"></i>
                    </button>
                    <ul style="padding-left: 0px">
                        <li style="list-style: none"><a href="#">(4)</a> items waiting for add</li>
                        <li  style="list-style: none"> <a href="#">(7)</a></li>
                        <li  style="list-style: none"><a href="#">(2)</a></li>
                        
                    </ul>
                    <div></div>
                </div>
                <div class="chart-wrapper mt-3 mx-3">

                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="height: 25vh">
                <div class="card-body pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn p-0">
                            <i class="icon-settings"></i>
                        </button>

                    </div>
                    <div class="text-value">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="chart-wrapper mt-3 mx-3">

                </div>
            </div>
        </div>
        <!--/.col-->
        <div class="col-sm-6 col-lg-4">
            <div class="card" style="height: 25vh">
                <div class="card-body pb-0">
                    <div class="btn-group float-right">
                        <button type="button" class="btn p-0">
                            <i class="icon-settings"></i>
                        </button>

                    </div>
                    <div class="text-value">9.823</div>
                    <div>Members online</div>
                </div>
                <div class="chart-wrapper mt-3">

                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<!-- <mat-card-content>
    <img src="../../../assets//img//brand/maxresdefault.jpg"
        style="background-size: cover; width: 100%">
</mat-card-content> -->